Flask==2.3.3 # O la versión específica que uses/prefieras de Flask
boto3==1.34.162
# Estas dos usualmente no se necesitan si usas Python 3.9+ y son parte de la librería estándar,
# pero si las tenías especificadas, las mantengo para compatibilidad.
uuid==1.30
datetime==4.7
typing-extensions==4.8.0